.color-0 {
    width:36px;
    height:37px;
    background:rgba(85,123,178,0.3);
    border:1px solid rgba(85,123,178,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(85,123,178,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-1 {
    width:36px;
    height:37px;
    background:rgba(213,193,165,.3);
    border:1px solid rgba(213,193,165,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(213,193,165,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-2 {
    width:36px;
    height:37px;
    background:rgba(155,157,165,.3);
    border:1px solid rgba(155,157,165,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(155,157,165,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-3 {
    width:36px;
    height:37px;
    background:rgba(102,129,163,.3);
    border:1px solid rgba(102,129,163,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(102,129,163,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-4 {
    width:36px;
    height:37px;
    background:rgba(191,172,172,.3);
    border:1px solid rgba(191,172,172,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(191,172,172,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-5 {
    width:36px;
    height:37px;
    background:rgba(100,82,120,.3);
    border:1px solid rgba(100,82,120,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(100,82,120,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-6 {
    width:36px;
    height:37px;
    background:rgba(68,141,248,.3);
    border:1px solid rgba(68,141,248,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(68,141,248,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-7 {
    width:36px;
    height:37px;
    background:rgba(41,149,152,.3);
    border:1px solid rgba(41,149,152,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(41,149,152,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-8 {
    width:36px;
    height:37px;
    background:rgba(117,72,55,.3);
    border:1px solid rgba(117,72,55,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(117,72,55,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-9 {
    width:36px;
    height:37px;
    background:rgba(184,90,13,.3);
    border:1px solid rgba(184,90,13,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(184,90,13,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-10 {
    width:36px;
    height:37px;
    background:rgba(213,143,15,.3);
    border:1px solid rgba(213,143,15,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(213,143,15,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-11 {
    width:36px;
    height:37px;
    background:rgba(152,204,204,.3);
    border:1px solid rgba(152,204,204,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(152,204,204,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-12 {
    width:36px;
    height:37px;
    background:rgba(181,111,154,.3);
    border:1px solid rgba(181,111,154,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(181,111,154,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-13 {
    width:36px;
    height:37px;
    background:rgba(182,92,93,.3);
    border:1px solid rgba(182,92,93,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(182,92,93,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-14 {
    width:36px;
    height:37px;
    background:rgba(94,86,87,.3);
    border:1px solid rgba(94,86,87,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(94,86,87,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-15 {
    width:36px;
    height:37px;
    background:rgba(50,79,126,.3);
    border:1px solid rgba(50,79,126,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(50,79,126,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-16 {
    width:36px;
    height:37px;
    background:rgba(204,204,152,.3);
    border:1px solid rgba(204,204,152,1);
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(204,204,152,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-17 {
    width:36px;
    height:37px;
    background:rgba(110,150,127,.3);
    border:1px solid rgba(110,150,127,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(110,150,127,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-18 {
    width:36px;
    height:37px;
    background:rgba(128,128,241,.3);
    border:1px solid rgba(128,128,241,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(128,128,241,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}
.color-19 {
    width:36px;
    height:37px;
    background:rgba(63,124,136,.3);
    border:1px solid rgba(63,124,136,1);
    overflow: hidden;
    text-align: center;
    font-size: 9px;
    word-wrap:break-word;
    color: rgba(63,124,136,1);
    cursor: pointer;
    span {
        display: inline-block;
        width:34px;
        height:35px;
        -webkit-transform: scale(0.9,0.9);
    }
}